<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hi, <%= user.name %>! Welcome to the option page. </h1>
        <a href="/movies/viewmovies">View Your Movies</a><br>
        <a href="/movies/findmovie">Find a Movie & Update</a><br>
        <a href="/movies/addmovie">Add a Movie</a><br>
        <a href="/users/logout">Log Out</a><br>
    </body>
</html>